
body {
	background-color: #D9AB83;
	font-family: 'Raleway', sans-serif;
}
/* -- HEADER -- */
.navbar {
	margin-bottom: 0;
}
.jumbotron {
	background: #C12D11;
	color: #fff;
	padding: 20px 0;
}

/* -- POST --*/
.main {
	margin-top: 20px;
	margin-bottom: 20px;
}

.post {
	padding-bottom: 20px;
	margin-bottom: 20px;
	border-bottom: 1px solid #999;
}

.post .post-title a {
	color: #333;
}

.post .thumb {
	margin-right: 10px;
	width: 50%;
}
.post .thumb img {
	width: 86%;
}
.post .contenedor-botones {
	width: 100%;
}
/* -- MEDIA QUERIE*/
@media screen and (max-width: 768px) {
	.post .thumb {
		width: 100%;
		margin-bottom: 20px;
		margin-right: 0;
	}
}
footer {
	background-color: black;
	color: white;
	padding: 20px 0;
}


